<div>
	<form name="stockForm">
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Producto</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select class="form-control" ng-model="inputStock.idProduct" placeholder="Elige un producto" required>
									<option value="" disabled selected>Producto</option>
									<option ng-repeat="product in productList" value="{{product.id}}">{{product.name}}</option>
							</select>
						</td>
                    </tr>
				</tbody>
			</table>
            <br>
            <table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Cantidad</th>
						<th>Cantidad Mínima</th>
						<th>Cantidad Máxima</th>
                        <th>Gravado</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="form-control" type="number" ng-model="inputStock.amount" placeholder="Ingrese la cantidad" required></td>
						<td><input class="form-control" type="number" ng-model="inputStock.minAmount" placeholder="Ingrese la cantidad mínima" required></td>
                        <td><input class="form-control" type="number" ng-model="inputStock.maxAmount" placeholder="Ingrese la cantidad máxima" required></td>
                        <td><input class="form-control" type="text" ng-model="inputStock.graven" placeholder="Ingrese el gravado" required></td>
                    </tr>
				</tbody>
			</table>
            <br><br>
            	<button class="btn btn-primary center-block" type="submit"  ng-click="stockForm.$valid && addStock(inputStock)">Agregar Inventario</button>
			</div>
		</div>
	</form>
</div>